.footer-content{
    display:flex;
    height:50px;
    font-weight:400;
    color:#fff;
    align-items: center;
    justify-content: center;
    height:60px;
    background: #1e2761;

    span{
        margin:5px;
    }
}