<div class="form-container">
    <div class="filter-label">
        Filters : 
    </div>
    <div class="filter-list">
        <div>
            <mat-chip-list >
                <shared-range-selector [storageDetails]="storageDetails" [selectedValue]="filterDetails?.storage" (selectedStorage)="handleSlider($event)" ></shared-range-selector>
                <shared-custom-multiselect [ramList]="RAMList" [selectedValue]="filterDetails?.ram" (selectedRam)="handleRamChange($event)" ></shared-custom-multiselect>
                <shared-custom-select [label]="'Select HDD'" [list]="HDDList" [selectedValue]="filterDetails?.hdd" (selected)="handleDropdownChange($event,'hdd')" ></shared-custom-select>
                <shared-custom-select [label]="'Select Location'" [list]="locationList" [selectedValue]="filterDetails?.location" (selected)="handleDropdownChange($event,'location')" ></shared-custom-select>
            </mat-chip-list>
        </div>
        <div>
            <button mat-raised-button color="warn" (click)="resetFilters()">RESET</button>
        </div>
    </div>
</div>

  
  