<div class="form-container">
    <div class="filter-label">
        Filters : 
    </div>
    <div class="filter-list">
        <div>
            <mat-chip-list >
                <shared-range-selector [storageDetails]="storageDetails" [selectedValue]="filterDetails?.storage" (selectedStorage)="handleSlider($event)" ></shared-range-selector>
            </mat-chip-list>
           
        </div>
        <div>
            <mat-chip-list >
                <shared-custom-multiselect [ramList]="RAMList" [selectedValue]="filterDetails?.ram" (selectedRam)="handleRamChange($event)" ></shared-custom-multiselect>
            </mat-chip-list>
           
        </div>
       
        <!-- <div class="storage-container" >
            <div class="storage-label">
                <label class="text-bold">Storage</label>
                <label class="example-value-label">{{someValue}}</label>
            </div>
            <div class="slider">
                min
                <mat-slider
                    step="100/storageDetails.length" 
                    (input)="selectSlider($event.value)">
                </mat-slider>
                max
            </div>
        </div> -->
          
        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Select RAM</mat-label>
                <mat-select  multiple>
                  <mat-option *ngFor="let ram of RAMList" [value]="filterDetails?.ram">{{ram}}</mat-option>
                </mat-select>
         </mat-form-field>
        </div> -->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Select HDD</mat-label>
                <mat-select (selectionChange)="updateFilter()" [(value)]="filterDetails.hdd">
                    <mat-option *ngFor="let hdd of HDDList" [value]="hdd">
                        {{ hdd }}
                      </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
             
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <mat-select (selectionChange)="updateFilter()" [(value)]="filterDetails.location">
                    <mat-option *ngFor="let location of locationList" [value]="location">
                        {{ location }}
                      </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="warn" (click)="resetFilters()">RESET</button>
        </div>
        
    </div>
    
</div>

  
  