/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background:#fff; 
    min-height:600px;
    line-height: 1.4;
}
a {
    color: #085a73;
    cursor: pointer;
}
.d-flex{
    display:flex;
}
.text-bold{
    font-weight: 600;
}